 {% extends 'core/base.html' %}
{% load static %}

 {% block content %}
 <div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom"> SERVICES</h1>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-6">
    
            <h3 class="st-font mt-5">Web Development</h3>
            <p>I offer professional web development services using Django, creating robust, scalable, and user-friendly websites tailored to your business needs.
            </p>
        </div>
        <div class="col-sm-6">
            <h3 class="st-font mt-5">UI Designing</h3>
            <p>I specialize in UI design using Figma, crafting intuitive, visually appealing interfaces that enhance user experience and align with your brand identity.</p>
        </div>
        </div>
        <div class="row text-white text-center mb-5">
            <div class="col-sm-6">
               
                <h3 class="st-font mt-5">Web Scraping</h3>
                <p>
                    I provide web scraping services, extracting valuable data from websites efficiently and accurately for analysis, research, or business insights using python libaries</p>
            </div>
            <div class="col-sm-6">
                
                <h3 class="st-font mt-5">Data Visulaization & Data Cleaning</h3>
                <p>I provide data visualization and data cleaning services, transforming raw data into clear, actionable insights through meticulous preparation and visually compelling representations.</p>
            </div>
            </div>
            <div class="row text-white text-center mb-5">
                <div class="col-sm-6">
                    
                    <h3 class="st-font mt-5">Andriod Development</h3>
                    <p>I offer Android development services using Java, building high-quality, responsive mobile apps tailored to meet your specific business requirements and user needs.</p>
                </div>
                <div class="col-sm-6">
                    
                    <h3 class="st-font mt-5" >Database Management</h3>
                    <p>I offer database management services, ensuring efficient organization, secure storage, and seamless retrieval of data, tailored to support your business operations and decision-making.


                    </p>
                </div>
                </div>
        
        
           
    
 </div>

{% endblock content %}